venv/
__pycache__/
*.pyc
.env
*.zip

backend/ML/taco_dataset/
backend/static/Uploads/
static/uploads/

backend/runs/*
!backend/runs/detect/
backend/runs/detect/*
!backend/runs/detect/train/
backend/runs/detect/train/*
!backend/runs/detect/train/weights/
backend/runs/detect/train/weights/*
!backend/runs/detect/train/weights/best.pt