<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Profile | TrashTrack</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <header>    
    <h1>TrashTrack</h1>
    <nav>
      <a href="{{ url_for('dashboard') }}">Dashboard</a>
      <a href="{{ url_for('about') }}">About Us</a>
      <a href="{{ url_for('help') }}">Help</a>
      <a href="{{ url_for('notifications') }}">Notifications</a>
      <a href="{{ url_for('index') }}">Logout</a>
    </nav>
  </header>

  <h1>User Profile</h1>
  <main class="notification">
    <p>Coming Soon...</p>
  </main>
</body>
</html>
